<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AI Workshop</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="AI Workshop">
  <meta property="og:type" content="omg is AI taking my job???">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
  <main class="container">
    <hgroup>
      <h1><a href="/">Intro to AI Integration</a></h1>
      <h2>Introducing AI integration in a beginner-friendly manner.</h2>
    </hgroup>
    <section>
      {% block content %}{% endblock %}
    </section>

    <footer class="container">
      <small
        >Built with <a href="https://picocss.com">Pico</a> •
        <a href="https://github.com/jjoeldaniel/openai_template"
          >Source code</a
        ></small
      >
    </footer>
  </main>

</body>

</html>
